@import "../utils/variables.scss";

footer {
  width: 100%;
  height: $footer-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid $text;

  .footer-social {
    .fa-brands {
      font-size: 3rem;
    }

    .github {
      margin-right: 2rem;
    }

    .linkedin {
    }
  }
}
