@import "../utils/variables.scss";
@import "../utils/_media_queries.scss";

header {
  width: 100%;
  height: $header-size;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  background: $bg1;
  z-index: 1;

  .header-img-container {
    height: $header-size;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 12rem;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.03);
      color: white;
      text-decoration: none;
    }
    img {
      width: 7rem;
      margin-right: 1rem;
    }

    text-transform: uppercase;
  }

  nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;

    a {
      margin: 0 2rem 0 2rem;
    }
  }

  .hamburger {
    display: none;
    font-size: 2.5rem;
    background: none;
    border: none;
    color: $text;
    // user-select: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      transform: scale(1.03);
      color: $link;
    }
  }
}

@include sm {
  header {
    justify-content: space-between;

    .hamburger {
      display: block;
      margin-right: 3rem;
    }

    nav {
      display: none;
    }

    .header-img-container {
      position: static;
      margin-left: 3rem;
    }

    nav.open {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8rem;
      width: 100%;
      background: $bg1;
      opacity: 1;
      z-index: 5;
      // border-top: 1px solid $text;
      border-bottom: 1px solid $text;

      a {
        margin: 0.5rem 0;
      }
    }
  }

  .banner-container {
    z-index: -1;
  }
}

@include md2 {
  header {
    justify-content: space-around;

    .header-img-container {
      position: static;
    }

    nav {
      position: static;
    }
  }
}

hr {
  width: 50%;
  height: 0.1px;
  color: $text;
  margin-top: 8rem;
}
