@import "../utils/variables.scss";
@import "../utils/_media_queries.scss";

.loader-wrapper {
  margin-top: 6rem;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  @include bg-gradient();
  z-index: 1000;

  @include sm {
    margin-top: 0;
  }

  p {
    font-size: 6rem;
    text-transform: uppercase;
    margin-top: 0;

    @include sm {
      font-size: 3rem;
      margin-top: 2rem;
    }
  }
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-circle {
  border-radius: 50%;
  width: 50rem;
  height: 50rem;
  animation: spin 10s linear infinite;

  @include sm {
    width: 30rem;
    height: 30rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden-content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 3s ease-in-out;
}
