.about-container {
  flex: 1 1 auto;
  margin-top: calc(var(--header-size));
}

.about-main-title {
  margin: 4rem 0;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  text-align: center;
}
