@import "/styles/utils/variables.scss";
@import "/styles/utils/_media_queries.scss";

h1 {
  margin-top: 4rem;
  text-align: center;
}

#about-intro {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 2rem 0;
  height: 45rem;
  width: 100%;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
    width: 50%;
    height: 100%;
  }

  .about-intro-img-container {
    width: 25%;
    max-width: 30rem;
    min-width: 20rem;
    margin-right: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    .about-intro-img {
      border-radius: 50%;
    }
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

h2 {
  text-align: center;
}

// DEGREES
.degrees-container {
  width: 100%;
  margin: 2rem 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ul {
    li {
      text-align: left;
      padding: 1rem 0;

      &:hover {
        border-bottom: 1px solid $text;
        border-top: 1px solid $text;
      }
    }
  }
}

// EXPERIENCES
.experiences-container {
  width: 100%;
  min-height: 36rem;
  margin: 2rem 0;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .experiences-list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

    .experiences-card {
      width: 26rem;
      height: 26rem;
      position: relative;
      border-radius: 1rem;
      border: 2px solid rgba($color: #000000, $alpha: 0);
      transition:
        border,
        font-weight 0.3s ease-in-out;

      &:hover {
        border: 2px solid $text;

        .exp-img-container {
          .exp-card-img {
            opacity: 0.8;
          }
        }

        .exp-card-content {
          p {
            font-weight: 700;
          }
        }
      }

      .exp-img-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        .exp-img-container .exp-card-img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        .exp-card-img {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          opacity: 0.3;
          object-fit: cover;
          transition: opacity 0.3s ease-in-out;
        }
      }

      .exp-card-content {
        width: calc(100% - 2rem);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $text;
        text-align: center;
        text-shadow:
          -1px -1px 0 #000,
          1px -1px 0 #000,
          -1px 1px 0 #000,
          1px 1px 0 #000;
        padding: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }
}

// SKILLS
#about-skills {
  width: 100%;
  scroll-snap-align: start;
  margin: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .about-skills-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    place-content: center;
    gap: 2rem;
    margin: 4rem;
  }

  .about-skill-category {
    width: 100%;
    min-height: auto;

    background: $bg-card;
    border: 1px solid $bg-card-border;
    border-radius: 1rem;
    box-shadow: $box-shadow;

    h3 {
      min-height: 3rem;
      text-align: center;
      padding: 0 1rem 1.5rem;
      margin-bottom: 0;
      border-bottom: 1px solid $bg-card-border;
    }

    ul {
      list-style-type: none;
      text-align: center;
      margin: 0;
      padding: 2rem;

      li {
        margin-bottom: 1rem;

        p {
          margin: 0;
        }
      }
    }
  }
}

// CV
.cv-container {
  margin: 2rem 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cv-link {
    padding: 1rem 2rem;
    border: 1px solid $link;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    transition: all 0.3s ease-in-out;
    justify-self: flex-end;

    &:hover {
      background: $link;
      color: $bg1;
    }
  }
}

// MEDIA QUERIES
// max-width: 767px
@include md {
  // SKILLS
  #about-skills {
    .about-skills-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;
      padding-bottom: 0;
      place-items: center;
      margin: 0;
    }

    .about-skill-category {
      width: 45%;
    }
  }
}

// min-width: 768px and max-width: 984px
@include sm-md {
  // ABOUT
  #about-intro {
    height: auto;
    flex-direction: column;

    .about-intro-img-container {
      margin: 2rem 0;
    }

    p {
      width: 90%;
    }
  }

  // FORMATION
  .degrees-container {
    ul {
      width: 90%;
      padding: 0 2rem;
    }
  }

  #about-skills {
    h2 {
      margin-bottom: 6rem;
    }

    .about-skills-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;
      padding-bottom: 0;
      place-items: center;
      margin: 0;
    }

    .about-skill-category {
      width: 45%;
      min-height: 35rem;
    }
  }
}

// max-width: 767px
@include sm {
  // ABOUT
  #about-intro {
    height: auto;
    flex-direction: column;

    .about-intro-img-container {
      margin: 2rem 0;
    }

    p {
      width: 90%;
    }
  }

  // FORMATION
  .degrees-container {
    ul {
      width: 90%;
      padding: 0 2rem;
    }
  }

  // SKILLS
  #about-skills {
    height: auto;

    h2 {
      margin-bottom: 4rem;
    }
    .about-skills-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 4rem;
      padding-bottom: 0;
      place-items: center;
      margin: 0;

      .about-skill-category {
        width: 80%;
      }
    }
  }
}

// max-width: 480px
@include xs {
  // SKILLS
  #about-skills {
    .about-skill-category {
      width: 100%;
    }
  }
}
