<header>
  <a
    class="header-img-container"
    href="/index.html"
    title="Retour à la page d'accueil"
  >
    <img
      class="header-logo"
      src="/assets/images/logo_without_text.png"
      alt="Logo du portfolio de Matundu Jules"
    />
    Matundu Jules
  </a>

  <button class="hamburger" aria-label="Menu">
    <i class="fa-solid fa-bars"></i>
  </button>

  <nav role="navigation">
    <a id="home-nav-link" href="/index.html" class="active">Accueil</a>
    <div class="dropdown">
      <a
        id="about-nav-link"
        class="dropbtn"
        id="about-nav-link"
        href="/pages/about/about.html"
        >A propos</a
      >
      <div class="header-extend"></div>
      <div class="dropdown-content">
        <div class="dropdown-content-extend"></div>

        <!-- Sous-menu pour Expériences -->
        <div class="dropdown-sub dropdown-sub-experiences">
          <a class="dropdown-sub-menu menu-experiences">Expériences</a>
          <div class="dropdown-content-sub menu-experiences-content">
            <a href="/pages/entertainer/entertainer.html">Animateur</a>
            <a href="/pages/hiphop/hiphop.html">Danse HipHop</a>
            <a href="/pages/webdev/webdev.html">Développeur Web</a>
            <a href="/pages/fiber/fiber.html">Technicien Fibre Optique</a>
          </div>
        </div>
        <!-- Sous-menu pour Formations -->
        <div class="dropdown-sub dropdown-sub-formation">
          <a class="dropdown-sub-menu menu-formation">Formations</a>
          <div class="dropdown-content-sub menu-formation-content">
            <a href="/pages/sen/sen.html">Systèmes Électroniques Numériques</a>
            <a href="/pages/entertainer/entertainer_degree.html">Animation</a>
            <a href="/pages/webdev/webdev_degree.html">Développeur Web</a>
            <a href="/pages/telecom/telecom_degree.html"
              >Télécom / Smart City / IoT</a
            >
          </div>
        </div>
      </div>
    </div>
    <a id="projects-nav-link" href="/pages/projects/projects.html"
      >Mes projets</a
    >
    <a id="contact-nav-link" href="/pages/contact/contact.html">Contact</a>
  </nav>
</header>
