.contact-container {
  flex: 1 1 auto;
  margin-top: var(--header-size);
  height: calc(100vh - (var(--header-size) + var(--footer-size)));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    text-align: center;
  }

  p {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 1rem 0;
  }

  .contact-text {
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
  }
}

.contact-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  width: 100%;
  height: 20rem;
}

.details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 8rem;
}

.socials-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// ICONS

.details-container i {
  width: 3rem;
  text-align: center;
  margin-right: 1rem;
  font-size: 3rem;
}

.socials-container i {
  margin-right: 1rem;
  font-size: 3.5rem;
}
