@use "../../assets/styles/breakpoints" as *;

.header {
  width: 100vw;
  height: var(--header-size);
  padding: 2rem;
  background-color: var(--bg1);
  border-bottom: 1px solid var(--text-color);
  color: var(--text-color);
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  .logo-container {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 6rem;
    }
  }

  .hamburger {
    position: relative;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
  }

  .header-menu {
    display: none;

    a {
      text-decoration: none;

      &.active {
        color: var(--link-color);
        font-weight: bold;
      }
    }

    &.open {
      top: 100%;
      width: 100%;
      right: 0;
      text-align: center;
      background: var(--bg1);
      border-bottom: 1px solid var(--text-color);
      border-top: 1px solid var(--text-color);
      padding: 1rem;
      z-index: 1000;

      display: flex;
      flex-direction: column;
      position: absolute;
    }
  }
}

@include mediaquery(md) {
  .header {
    justify-content: center;

    .logo-container {
      left: 3rem;

      position: absolute;
    }
    .hamburger {
      display: none;
    }

    .header-menu {
      position: absolute;
      height: 100%;
      gap: 1.5rem;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }
}
