footer {
  width: 100%;
  height: var(--footer-size);
  border-top: 1px solid var(--text-color);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    margin-top: 0;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.footer-social {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;

  a {
    width: 3rem;
    height: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      text-decoration: none;
    }
  }

  i {
    width: 100%;
    height: 100%;
    font-size: 3rem;
  }

  .github {
    margin-right: 2rem;
  }

  .digital-challenge-logo {
    background-image: url("../../assets/images/digital-challenge/digital_challenge-logo_noir.svg");
    background-size: cover;
    filter: invert(96%) sepia(5%) saturate(268%) hue-rotate(58deg)
      brightness(96%) contrast(90%);

    &:hover {
      filter: brightness(0) saturate(100%) invert(98%) sepia(50%)
        saturate(7025%) hue-rotate(328deg) brightness(98%) contrast(93%);
    }
  }
}
