// Variables pour les breakpoints
$breakpoints: (
  xs: 480px,
  // Téléphones
  sm: 768px,
  // Tablettes
  md: 1024px,
  // Petits écrans desktop
  lg: 1200px,
  // Grands écrans desktop
  xl: 1440px // Très grands écrans
);

// Import du module Sass 'map'
@use "sass:map";

// Mixin pour les media queries
@mixin mediaquery($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @error "Breakpoint '#{$breakpoint}' not found in the breakpoints map.";
  }
}
