@use "../../../assets/styles/breakpoints" as *;

.presentation-content {
  width: 100%;
  min-height: calc(100vh - var(--header-size));
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  h1 {
    text-align: center;
    margin: 2rem 0;
  }
}

/* ABOUT */
#about {
  width: 100%;
  margin: 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 2rem 0;

    @include mediaquery(lg) {
      margin: 2rem 0;
    }
  }

  .about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mediaquery(md) {
      flex-direction: row;
    }

    .about-img-container-main {
      height: 20rem;
      width: 20rem;
      min-height: 10rem;
      min-width: 10rem;
      margin-top: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      @include mediaquery(md) {
        margin-top: 0;
        margin-right: 4rem;
      }
    }

    .about-img-container {
      width: 30rem;
      min-width: 20rem;

      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      .about-img {
        border-radius: 50%;
      }
    }

    .about-txt-container {
      width: 90%;
      text-align: center;

      @include mediaquery(md) {
        width: 50%;
      }

      @include mediaquery(lg) {
        width: 40%;

        .about-txt-1 {
          width: 50%;
        }

        .about-txt-2 {
          width: 50%;
        }
      }
    }
  }
}
