@use "../../../assets/styles/breakpoints" as *;

.presentation-content {
  width: 100%;
  // min-height: calc(100vh - var(--header-size));

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include mediaquery(md) {
    height: calc(100vh - var(--header-size));
  }

  .video-banner {
    align-self: start;
    position: relative;
    height: 15rem; /* La hauteur est pleine page */
    width: 100%;
    overflow: hidden;
    margin-bottom: 2rem;

    @include mediaquery(md) {
      height: 22rem;
    }
  }

  .video-banner video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    z-index: 0;
    object-fit: cover; /* Ajuste la vidéo */
    object-position: 50% 44%;
    // opacity: 0.2;
    filter: brightness(70%);
  }

  .video-banner h1 {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 3rem;
    z-index: 0;
    // text-shadow:
    //   2px 0 #000,
    //   -2px 0 #000,
    //   0 2px #000,
    //   0 -2px #000,
    //   1px 1px #000,
    //   -1px -1px #000,
    //   1px -1px #000,
    //   -1px 1px #000; /* Pour lisibilité */
  }
}

/* ABOUT */
#about {
  width: 100%;
  margin: 0 0;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mediaquery(md) {
    height: calc(100% - 22rem);
  }

  h2 {
    margin: 2rem 0;

    @include mediaquery(lg) {
      margin: 2rem 0;
    }
  }

  .about-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mediaquery(md) {
      flex-direction: row;
    }

    .about-img-container-main {
      height: 20rem;
      width: 20rem;
      min-height: 10rem;
      min-width: 10rem;
      margin-top: 2rem;

      display: flex;
      justify-content: center;
      align-items: center;

      @include mediaquery(md) {
        margin-top: 0;
        margin-right: 4rem;
      }

      @include mediaquery(lg) {
        height: 50rem;
        width: 50rem;
        min-height: 20rem;
        min-width: 20rem;
      }
    }

    .about-img-container {
      width: 30rem;
      min-width: 20rem;

      height: auto;

      display: flex;
      justify-content: center;
      align-items: center;

      .about-img {
        border-radius: 50%;
      }
    }

    .about-txt-container {
      width: 90%;
      text-align: center;

      @include mediaquery(md) {
        width: 50%;
      }

      @include mediaquery(lg) {
        width: 40%;

        .about-txt-1 {
          width: 50%;
        }

        .about-txt-2 {
          width: 50%;
        }
      }
    }
  }
}
